@mixin media($size) {
  @if $size == small {
    @media #{$small} {
      @content;
    }
  }	@else if $size == medium {
    @media #{$medium} {
      @content;
    }
  } @else if $size == large {
    @media #{$large}  {
      @content;
    }
  } @else if $size == xlarge {
    @media #{$xlarge}  {
      @content;
    }
  } @else if $size == xxlarge {
    @media #{$xxlarge}  {
      @content;
    }
  }
}
