// - - - - - - - - - - - - - - - - - - - - - - - - - -
// UTILITIY CODE
// - - - - - - - - - - - - - - - - - - - - - - - - - -
@mixin body-reset {
  *, *:before, *:after {
    // .box-sizing(border-box);
  }

  html {
    font-size: $base-px + 0px;
    -webkit-font-smoothing: $font-smoothing;
    -moz-font-smoothing: $font-smoothing;
    font-smoothing: $font-smoothing;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  body {
    font-family: $default-font-family;
    font-size:   $default-font-size;
    line-height: $default-line-height;
    color:       $text-color;
    background-color: $white;
  }
  p {
    font-family:    $paragraph-font-family;
    font-weight:    $paragraph-font-weight;
    font-size:      $paragraph-font-size;
    line-height:    $paragraph-line-height;
    margin-bottom:  $paragraph-bottom-margin;
    text-rendering: $paragraph-text-rendering;
    font-smoothing: $paragraph-text-smoothing;
  }
  // links
  a {
    color: $link-text-color;
    text-decoration: $link-decoration;
    &:hover,
    &:focus {
      color: $link-hover-text-color;
      text-decoration: $link-hover-decoration;
    }
    &:focus {
      // .tab-focus();
    }
  }
}
