// - - - - - - - - - - - - - - - - - - - - - - - - - -
// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - - -
//
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);

$base-font-family: 'Source Code Pro';
$base-font-size:   rem(16);
$base-font-weight: 400;
$base-font-style:  normal;
$font-smoothing:   antialiased;
$text-rendering:   optimizeLegibility;

$heading-font-family:    $base-font-family;
$heading-font-weight:    500;
$heading-font-style:     $base-font-style;
$heading-font-color:     $dark01;
$heading-line-height:    1.4;
$heading-top-margin:     .2rem;
$heading-bottom-margin:  .5rem;
$heading-text-rendering: $text-rendering;

$h1: rem(44);
$h2: rem(36);
$h3: rem(28);
$h4: rem(24);
$h5: rem(18);
$h6: $base-font-size;

$xtra-light-font-weight: 200;
$light-font-weight:      300
$medium-font-weight:     500;
$semi-bold-font-weight:  600;
$bold-font-weight:       700;
$xtra-bold-font-weight:  900;

$paragraph-font-family:    $base-font-family;
$paragraph-font-weight:    $base-font-weight;
$paragraph-font-size:      $base-font-size;
$paragraph-line-height:    1.6;
$paragraph-bottom-margin:  rem(20); // 20px
$paragraph-text-rendering: $text-rendering;
$paragraph-font-smoothing: $font-smoothing;

$link-text-decoration: none;
$link-hover-text-decoration: none;
$link-text-color: $blue01;
$link-hover-text-color: $blue03;

$blockquote-text-color: $dark05;
$blockquote-padding: rem(9 20 0 19);
$blockquote-border: 1px solid $dark03;
$blockquote-cite-font-size: rem(13);
$blockquote-cite-font-color: $dark03;
$blockquote-cite-link-color: $dark03;

$crosshair-cursor: crosshair;
$disabled-cursor: not-allowed;
$pointer-cursor: pointer;
$help-cursor: help;
$text-cursor: text;

// icons
// ==========================================
$icon-path: "../_icons/_ion/_font/" !default;
$icon-name:   "ion" !default;
$icon-svg-id: "ion" !default;

// links
// ==========================================
$link-color:       $blue01;
$link-hover-color: $blue03;

$link-decoration:       none;
$link-hover-decoration: none;

// horizontal rule
// ==========================================
$hr-border: 1px solid $dark02;
$hr-margin: rem(20 0); // 20px 0px

// blockquotes
// ==========================================
$blockquote-color:   $dark05;
$blockquote-padding: rem(9 20 0 19); // 9px 20px 0px 19px
$blockquote-border:  1px solid $dark04;

$cite-font-size:  rem(13); // 13px
$cite-color:      $dark03;
$cite-link-color: $dark04;

// acronyms and abbreviations
// ==========================================
$acronym-underline:    1px dotted $dark02;
$abbr-font-weight:     $medium-font-weight;
$abbr-font-decoration: none;
$abbr-padding: rem(0 1); // 0px 1px

// micro-formats and address blocks
// ==========================================
$microformat-name-font-size:   rem(15); // 15px
$microformat-name-font-weight: $medium-font-weight;
$microformat-margin:  rem(0 0 20 0); // 0px 0px 20px 0px
$microformat-padding: rem(10 12); // 10px 12px
$microformat-border:  1px solid $dark02;

// highlights
// ==========================================
$highlight-text-color: $light01 !default;
$higlight-bg-color:    $dark05 !default;
