$thumbnail-border: 4px solid $light02;
$thumbnail-border-radius:    3px;
$thumbnail-box-shadow:       0 0 0 1px rgba($black, 0.20);
$thumbnail-box-shadow-hover: 0 0 6px 1px rgba($blue01, 0.50);
$thumbnail-transition-speed: 200ms;
