// - - - - - - - - - - - - - - - - - - - - - - - - - -
// Content Highlights
// - - - - - - - - - - - - - - - - - - - - - - - - - -
$highlight-text-color:     $dark02;
$highlight-alt-text-color: $light02;
$highlight-font-family:    "Consolas", "Menlo", "Courier", monospace;
$highlight-font-size:      inherit;

$highlight-bg-color: $dark05;
$highlight-border:   1px solid $dark06;
$highlight-border-radius: 3px;

$highlight-padding: rem(2 4 0); // 2px 4px 0px
